.tuitui-button {
  @apply flex justify-center items-center gap-[10px] px-4 py-3
  font-medium text-sm bg-dark-blue text-white fill-white rounded
  hover:bg-purple active:bg-dark-black active:outline-none
  focus:outline focus:outline-4 focus:outline-purple
  disabled:bg-slate-400 disabled:cursor-not-allowed
}

.tuitui-button--icon {
  @apply w-6 h-6
}

.tuitui-button.small {
  @apply py-[6px] px-3
}

.tuitui-button.small > .tuitui-button--icon {
  @apply w-4 h-4
}

.tuitui-button.info {
  @apply bg-blue
  hover:bg-purple active:bg-dark-black active:outline-none
  focus:outline focus:outline-4 focus:outline-purple
  disabled:bg-slate-400 disabled:cursor-not-allowed
}

.tuitui-button.danger {
  @apply bg-red-600
  hover:bg-red-400 active:bg-dark-black active:outline-none
  focus:outline focus:outline-4 focus:outline-red-400
  disabled:bg-slate-400 disabled:cursor-not-allowed
}

.tuitui-button.secondary {
  @apply flex justify-center items-center gap-[10px] px-4 py-3
  font-medium text-sm bg-white border border-solid border-dark-blue text-dark-blue fill-dark-blue rounded
  hover:border-purple hover:text-purple hover:fill-purple
  active:border-dark-black active:text-dark-black active:fill-dark-black active:outline-none
  focus:outline focus:outline-4 focus:outline-purple
  disabled:border-slate-400 disabled:text-slate-400 disabled:fill-slate-400 disabled:cursor-not-allowed
}

.tuitui-button.secondary.small {
  @apply py-[6px] px-3
}

.tuitui-button.secondary.danger {
  @apply bg-white border border-solid border-red-600 text-red-600 fill-red-600 rounded
  hover:border-red-400 hover:text-red-400 hover:fill-red-400
  active:border-dark-black active:text-dark-black active:fill-dark-black active:outline-none
  focus:outline focus:outline-4 focus:outline-red-400
  disabled:border-slate-400 disabled:text-slate-400 disabled:fill-slate-400 disabled:cursor-not-allowed
}

.tuitui-button.tertiary {
  @apply flex justify-center items-center gap-[10px] px-4 py-3
  font-medium text-sm bg-white text-dark-blue fill-dark-blue rounded
  hover:text-purple hover:fill-purple
  active:border-dark-black active:text-dark-black active:fill-dark-black active:outline-none
  focus:outline focus:outline-4 focus:outline-purple
  disabled:border-slate-400 disabled:text-slate-400 disabled:fill-slate-400 disabled:cursor-not-allowed
}

.tuitui-button.tertiary.small {
  @apply px-1 py-[6px]
}
